<h4>You have: $<%= session["purse"] %></h4>
<hr>
<% if session["bet"] == 0 %>
  <% if session["purse"] > 0 %>
    <%= erb :"/shared/take_bet" %>
  <% else %>
    <%= erb :"/shared/no_money" %>
  <% end %>
<% else %>
  <div class="container">
    <%= erb :"/shared/dealers_cards" %>
  </div>
  <hr>
  <div class="container">
    <%= erb :"/shared/players_cards" %>
    <span><%= session["player_total"] %>
    <br>
    <% if session["player_bust"] == true %>
      <%= erb :"/shared/bust" %>
      <%= erb :"/shared/play_again_lose" %>
    <% else %>
      <% if session["player_win"] == true %>
        <%= erb :"/shared/win" %>
        <%= erb :"/shared/play_again_win" %>
      <% elsif session["dealer_win"] == true %>
        <%= erb :"/shared/lose" %>
        <%= erb :"/shared/play_again_lose" %>
      <% else %>
        <%= erb :"/shared/hit_stay_buttons" %>
      <% end %>
    <% end %>
  </div>
<% end %>
<hr>
<div class="container">
<form action = "/reset" method = "post">
  <input class="btn btn-default btn-danger" type = "submit" value = "Reset Game">
</form>
